
[submodule "ExternalLibs/CONCH"]
	path = ExternalLibs/CONCH
	url = git@github.com:mahmoodlab/CONCH.git

[submodule "ExternalLibs/torchvahadane"]
	path = ExternalLibs/torchvahadane
	url = git@github.com:cwlkr/torchvahadane.git

[submodule "ExternalLibs/torchstain"]
	path = ExternalLibs/torchstain
	url = git@github.com:EIDOSLAB/torchstain.git
